html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
body {
  font-family: "Segoe UI";
}
.todo-list-wrapper {
  width:950px;
  margin: 0 auto;
}
.item-list {
  display: inline-block;
  margin-right: 10px;
}

.user_input {
  margin-right:10px;
}
.delete_btn,.add_btn {
  float: right;
}
.add_btn {
  width:117px;
  height:38px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2196f3;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.importance_type {
  margin-right: 5px;
}
.btn{
  margin-right: 5px;
}
.radio-boxes-wrapper {
  text-align: right;
  float: right;
  width: 178px;
}
.priority_type_label {
  margin-right: 86px;
}

.todo-table {
  float: left;
  width: 687px;
}
.todo-table th {
  text-align: left;
}

.text_input {
  border:none;
  border-bottom: 1px solid #ccc;
}

.todolist_form .select_box {
  border:none;
}
.todo-list-filters {
  margin-top: 38px;
  overflow: hidden;
}
.inside-btns button {
  border: none;
  background: none;
  color: #2196f3;
  text-transform: uppercase;
}


