html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
.todo-list-wrapper {
  width:300px;
  margin: 0 auto;
}
.item-list {
  display: inline-block;
  margin-right: 10px;
}

.user_input {
  margin-right:10px;
}
.delete_btn,.add_btn {
  float: right;
}

ul {
  list-style-type: none;
}